#product1{
    text-align: center;

}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;



}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0; 
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0, 0, 0, 0.02) ;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow:20px 20px 30px rgba(0, 0, 0, 0.2) ;

}

#product1 .pro img{
    width:100%;
    border-radius: 20px;

}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span{
    color:#606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top:7px;
    color:#1a1a1a;
    font-size: 14px;

}


#product1 .pro .des i{
    font-size:12px ;
    color:rgb(243,194,19);
}

#product1 .pro .des h4{
    padding-top:7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0 ;
    position:absolute;
    bottom:20px;
    right:10px;

}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("imgs/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color:#fff;
    font-size: 16px;

}
#banner h2{
    color:#fff;
    font-size: 30px;
    padding: 10px 0px;
    

}
#banner h2 span{
    color:red;
   

}

#banner button:hover{
    background:#088178;
    color: white;
}

#sm-banner{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;

} 

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("imgs/banner/b17.jpg");
    min-width: 660px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("imgs/banner/b10.jpg");

}

#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;

}

#sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
    
}

#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
    
}

#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("imgs/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

}

#banner3 .banner-box2{
    background-image: url("imgs/banner/b4.jpg");

}
#banner3 .banner-box3{
    background-image: url("imgs/banner/b18.jpg");

}
#banner3 h2{
    color:white;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color:rgb(173, 40, 40);
    font-weight: 800;
    font-size: 15px;
}
